
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #C0DBD9;
}

.popupp {
    position: relative;
    padding: 38.5px 0 38.5px 45px;
background-color: #7FAFF7;
margin-bottom: 10px;
z-index: 100;
}

.popupp__link {
    background-color: #A5C7F9;
    border: none;
    padding: 8px 15px;
    color: #ffff;
    border-radius: 5px;
    cursor: pointer;
}
#modal{
    display: none;
}

#modal:checked ~ .popupp__content{
   opacity: 1;
}



.popupp__content{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    top: 0;
    right: 30%;
   opacity: 0;
 
}

.popupp__text {
    padding-top: 53px;
    align-self: center;
    font-size: 53px;
line-height: 62px;
}
.pupupp__btn {
   display: flex;
   align-items: center;
   justify-content: center;
    text-decoration: none;
    margin: 15px 15px;
    align-self: flex-end;
    font-size: 20px;
line-height: 23px;
width: 43px;
height: 39px;
background-color: #7FAFF6;
color: #ffffff;
border: none;
border-radius: 5px;
}

.pupupp__btn::before{
    content: "+";
    display: block;
    transform: rotate(45deg);
}

.grid__container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:repeat(2, 1fr);
    gap: 15px;
}
.grid__item{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
font-size: 53px;
line-height: 62px;
}

.grid__item:nth-child(1){
grid-column: 1/4;
}

.grid__item:nth-child(1)::before{
    content: '1';
}

.grid__item:nth-child(2){
    grid-column: 4/11;
}
.grid__item:nth-child(2)::before{
    content: '2';
}
.grid__item:nth-child(3){
    grid-column: 11/13;
}
.grid__item:nth-child(3)::before{
    content: '3';
}
.grid__item:nth-child(4){
grid-row: 2;
grid-column: 1/11;
}
.grid__item:nth-child(4)::before{
    content: '4';
}
.grid__item:nth-child(5){
    grid-row: 2;
    grid-column: 11/13;
 }
 .grid__item:nth-child(5)::before{
    content: '5';
}


.grid__item{
    height: 198px;
    width: 100%;
    background-color: #8AD191;
}


.flex__container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex__item {
    margin-bottom: 30px;
    background-color: #0D89B0;
    height: 199px;
width: 255px;
}
.footer{
    margin-top: 100px;
    width: 100%;
    height: 100px;
    background-color: #7FAFF6;
}



